{% block banner %}
{% load static %}
    <div class="banner-wrapper">
        <img class="banner" src="{% static '/images/banner-light.jpg' %}" style=" width: 100%;" id="banner">
        <img class="headshot" src="{% static '/images/headshot1.png' %}" height="40%">
        <div class ="nameplate outlined">Alexander Traylor
            <span class="nameplate title">Developer</span>
            <a class="nameplate cv no-outline" href="#">Download Resume</a>
        </div>
    </div>
{% endblock %}