{% block navbar %}
{% load static %}
    <div class="navbar-fixed">
	<script src="https://kit.fontawesome.com/2c366abe5a.js" crossorigin="anonymous"></script>
        <nav>
            <div class="nav-wrapper">
                <div class="valign-wrapper left" style="height: 100%; padding-left: 10;">
                    <div class="switch valign ">
                        <label>
                        Light
                        <input type="checkbox" id="mode_toggle">
                        <span class="lever"></span>
                        Dark
                        </label>
                    </div>
                </div>
                <div class="valign-wrapper center">
                   <a class="valign" onclick="M.toast({html: 'Reserved For Future Use'})" href="#!"><img class="valign center tagline" src="{% static '/images/terminal.gif' %}">
                    </a>
                </div>
                <div class="valign-wrapper right" style="height:100%; right:90;">
                    <a class="valign" href="https://gitlab.com/agtraylor" target="_blank"><i class="fab fa-gitlab"></i></a>
                    <a class="valign" href="https://www.linkedin.com/in/alextraylor/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="valign" href="mailto:alex.traylor@gmail.com"><i class="far fa-envelope"></i></a>
                    <a class="valign hide-on-large-only" href=tel:+17049572091><i class="fas fa-mobile-alt"></i></a>
                </div>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
