{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/materialize.css' %}">
        <script type="text/javascript" src="{% static '/js/materialize.js' %}"></script>
        <script>
            var darkbanner="{% static '/images/banner-dark.jpg' %}"
            var lightbanner="{% static '/images/banner-light.jpg' %}"
        </script>
        <script type="text/javascript" src="{% static '/js/main.js' %}"></script>
    </head>
    <body>
    {% block navbar %}{% include 'navbar.html' %}{% endblock %}
        <div class="wrapper" style="position: relative;">
        {% block banner %}{% include 'banner.html' %}{% endblock %}
	</div>
        {% for section in object_list %}
            <div class="container">
                <div class="card">
		    <span class="card-title">{{ section.title }}</span>
                    <div class="card card-body">
			<ul class="tabs">
                        {% for content in section.content_set.all %}				
      	                {% if content.state == 1 %}
                            <li class="tab"><a href="#content_body{{ content.id }}"><b>{{ content.title }}</b></a></li>
                        {% endif %}
    			{% endfor %}
			</ul>

			{% for content in section.content_set.all %}
			{% if content.state == 1 %}
		        <div id="content_body{{ content.id }}" style="margin-left: 40px;">
                        {% if content.body|length > content.peek and content.peek != 0 %}
                            {{ content.body|linebreaks|slice:content.peek }}...
                            <a class="more_less" id="{{ content.id }}" href="#!">Read More</a>
	                    <div hidden id="full{{ content.id }}">{{ content.body|linebreaks }}</div>
                        {% else %}
	                    {{ content.body|linebreaks }}
        	        {% endif %}
			{% endif %}
		        </div>
			{% endfor %}
                    </div>
                </div>
            </div>
	</div>
        {% endfor %}
</body>
    <footer>
        <div id="attribmodal" class="modal">
            <div class="modal-content">
              <h4>Attribution</h4>
              <p><b>Light Mode Banner:</b> <a href="https://www.pexels.com/photo/flock-of-birds-917494/" target="_blank">Flock Of Birds</a> by <a href="https://www.pexels.com/@efdal-yildiz-325089" target="_blank">Efdal YILDIZ</a>, used under <a href="https://www.pexels.com/license/" target="_blank">the Pexels License</a> / Cropped From Original</p>
              <p><b>Dark Mode Banner:</b> <a href="https://www.flickr.com/photos/bz3rk/7076919551/in/album-72157607107822110/" target="_blank">Charlotte Skyline</a> by <a href="https://www.flickr.com/photos/bz3rk/0" target="_blank">James Willamor</a>, used under <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" target="_blank">CC BY-SA 2.0</a> / Cropped From Original</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="btn modal-close waves-effect waves-green btn-flat">Acknowledge</a>
            </div>
        </div>
        <div class="container">
            <p class="left-align">I built this resumé using Django - Check out the source <a href="https://gitlab.com/agtraylor/resume" target="_blank">here</a>!</p>
            <p class="right-align"><a class="modal-trigger" href="#attribmodal">Image Attribution</a></p>
        </div>
    </footer>
{% endblock %}
